<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.42" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="2.2.8" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="2.2.8" targetFramework="net452" />
  <package id="Zeats.Legacy.PlainTextTable" version="1.0.0.4" targetFramework="net45" />
  <package id="Zeats.Legacy.PlainTextTable.HtmlParser" version="1.0.0.4" targetFramework="net45" />
</packages>